<div style="width: 55%; display: table; margin: auto;margin-top: 2%; border-radius: 10%; text-align: center">
<div style="margin-top: 3%"><label style="font-size: 22px">User's Registration</label></div>
<div style="text-align: center;width: 90%; margin: auto; margin-top: 3%;margin-bottom: 12%; display: table">
    <form name="signIn">  
      <label>Name:*</label>
   <input style="margin-top: 0.5%;margin-bottom: 5%;width: 40%; margin-right: auto; margin-left: auto;" type="text" style="" class="form-control" ng-model="user.name" name="name" placeholder="Name" ng-required="true"/>
      
      <label>E-mail:*</label>
   <input style="margin-bottom: 0.5%; width: 40%; margin-right: auto; margin-left: auto;" type="text" style="" class="form-control" ng-model="user.email" name="email" placeholder="Email" ng-required="true" ng-change="checkEmail(user)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 600, blur: 0 } }"/>
   <label style="color: red; font-size: 85%" ng-if="emailAlreadyTaken">This email is already registered!</label><br/>

      <label>Username:*</label>
   <input style="margin-bottom: 0.5%;width: 35%; margin-right: auto; margin-left: auto;" type="text" style="" class="form-control" ng-model="user.username" name="username" placeholder="Username" ng-required="true"  ng-change="checkLogin(user)" ng-model-options="{ updateOn: 'default blur', debounce: { default: 600, blur: 0 } }"/>
   <label style="color: red;font-size: 85%" ng-if="userAlreadyTaken">This username is already in use!</label><br/>

    <div style="width: auto;margin: auto; display: -moz-grid-group; display: inline-flex; text-align: center;">
   <label style="margin-right: 1.5%;float: left;" for="password">
    <span style="display: block; font-weight: bold;">Password:*</span>
    <input ng-model="user.password" class="form-control" type="password" id="company" placeholder="Password" ng-required="true"/>
  </label>
  <label style="margin-left: 1.5%;float: left;" for="confirmPassword">
    <span style="display: block; font-weight: bold;">Confirm Password:*</span>
    <input ng-model="user.confirmPassword" class="form-control" type="password" id="contact" placeholder="Password" ng-required="true" ng-model-options="{ updateOn: 'default blur', debounce: { default: 600, blur: 0 } }" ng-change="checkPassword(user)"/>
  </label>
</div>
<div style="color: red;font-size: 85%;" ng-if="difPasswords">
   <label>The passwords don't match!</label></div>
</form>
<div style="text-align: right; width: 70%; margin: auto;">
<label style="margin-top: 2%;color: black;font-size: 85%; text-align: right">* Required fields.</label>
</div>

     <div style="text-align: center">
     <br/>
            <button ng-disabled="userAlreadyTaken || emailAlreadyTaken || difPasswords || !signIn.$valid" ng-click="signin(user)" class="btn btn-default" style="margin: auto;width: 30%; display: inline-block; margin-bottom: 5%;margin-top: 5%" type="button" data-toggle="dropdown">Register!
            </button>
            <a style="margin: auto;width: 30%; display: inline-block; margin-bottom: 5%;margin-top: 5%; color: black;" class="btn btn-default" href="#/">Back to Login</a>
           
            </div>
</div>




	</div>

